<ion-header>
  <ion-toolbar color="danger">
    <ion-title>LockScreen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="lock-row ion-align-items-center">
    <ion-col size="5"></ion-col>
    <ion-col class="lock-col">
      <div class="lock-bg"></div>
      <img src="assets/img/lock.png" class="lock-img">
    </ion-col>
    <ion-col size="5"></ion-col>
  </ion-row>
</ion-content>
